<div class="container-sm">
  <h4 >Registrar noticia</h4>
  <form class="row g-6">
    <label for="">Titular</label>
    <input class="form-control" type="text" placeholder="titular" name="titular" [(ngModel)]="noticia.titular">
    <br />
    <label for="">Fecha</label>
    <input class="form-control" type="date" placeholder="fecha" name="fecha" [(ngModel)]="noticia.fecha">
    <br />
    <label for="">Autor</label>
    <input class="form-control" type="text" placeholder="autor" name="autor" [(ngModel)]="noticia.autor">
    <br>
    <label for="">Contenido de Noticia</label>
    <input class="form-control" type="text" placeholder="contenido" name="contenido" [(ngModel)]="noticia.contenido">
    <br><br>
    <button class="btn btn-primary" (click)="crearNoticia()">Crear Noticia</button>
  </form>
</div>
<br>
<div>
  <div class="container-sm">
    <h4>Filtrar Noticias</h4>
    <select name="categoriab" id="categoriab" name="categoriab" [(ngModel)]="param">
      <option value="0">Seleccionar...</option>
      <option *ngFor="let notiAutor of noticias" value="{{notiAutor.autor}}">{{notiAutor.autor}}</option>
      <!-- <option value="1">noticia 2</option>
      <option value="2">noticia 3</option> -->
    </select>&nbsp;
    <button (click)="buscarNoticiasxAutor()" class="btn btn-primary"> Buscar por noticia</button>
    <!-- <button (click)="eliminarSeleccion()" class="btn btn-primary"> Eliminar Selección</button> -->
  </div><br>
  <div class="container-sm">
    <form class="row g-3">
      <div class="col-auto">
        <label>Fecha inicial: </label>
        <input type="date" name="buscar" class="form-control" [(ngModel)]="param">
        <label>Fecha final: </label>
        <input type="date" name="buscar" class="form-control" [(ngModel)]="param1">&nbsp;
        <button (click)="buscarNoticiaxfecha()" class="btn btn-primary"> Buscar por fecha</button>
      </div>
    </form>
  </div>
</div>
<div class="container-sm">
  <h3>
    <br/>
    Lista de noticias
  </h3>
  <table class="table table-hover  caption-top">
    <caption></caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">titular</th>
        <th scope="col">fecha</th>
        <th scope="col">autor</th>
        <th scope="col">contenido</th>
        <th scope="col">acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="nocarga">
      <tr *ngFor="let noticia of noticias ,let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{noticia.titular}}</td>
        <td>{{noticia.fecha}}</td>
        <td>{{noticia.autor}}</td>
        <td>{{noticia.contenido}}</td>
        <!-- falta configurar el editar -->
        <td><button class="btn btn-primary" (click)="editarNoticia()">Editar Noticia</button></td>
      </tr>

    </tbody>

    <tbody *ngIf="!nocarga">
      <tr>
        <td colspan="6" align="center">Problemas de conexion</td>
      </tr>
    </tbody>
  </table>

</div>

<!---Modal de registro-->
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<!---Modal de registro-->
<ng-template #modalDataEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <!--  <app-edit (onEditar)="buscarUsuario()"  [usuario] ="usuario"></app-edit>-->
  </div>
  <div class="modal-footer">

  </div>
</ng-template>


<!-- <router-outlet></router-outlet> -->